
.imagen{
width: 150px;
height: 100px;
}
.cancelar{
    width: 50px;
    height: 50px;
    border-radius: 100px;
}
.precio{
    color: grey;
}
.card{
  padding: 40px;
  margin: auto;
}