body{
    background-color: white;
    color:black;
    margin: auto;
    font-family: 'Times New Roman', Times, serif;
    font-size: larger;
    width: 100%;
}

h1{
    text-align: center;
}

a{
    color:blue;
}

.topnav {
    background-color: #333;
    overflow: hidden;
    color:blanchedalmond;
  }
